@model DateTime

<div class="container body-content col-md-offset-3">
    <div class="content_in content_in_s">
        <div class="live_navigation clearfix" style="margin-top: 10px;">
            <div class="calendar_wrap clearfix">
                <span id="date">
                    @(Html
                      .Kendo()
                      .DatePicker()
                      .Name("ScoresDate")
                      .Events(ev =>
                      {
                          ev.Change("dateChanged");
                      })
                      .HtmlAttributes(new { id = "scores-date", value = Model })
                      .Format("dd/mm/yyyy")
                      .Deferred())
                </span>
            </div>
        </div>

        <div class="matches_list_wrap">
            @(Html.Action<ScoresController>(c => c.ByDate(Model)))
            @(Html.ActionLink<ScoresController>("ASDF", c => c.ByDate(Model)))
        </div>
    </div>
</div>

<script>
    const dateChanged = (ev) => {
        const value = ev.sender.element.context.attributes.value.value;

        const date = kendo.toString($("#scores-date").data("kendoDatePicker").value(), 'd');
        const dateEncoded = encodeURI(date);
        const url = `/scores/bydate?date=${dateEncoded}`

        $.get(url, (dataHtml) => {
            $('.matches_list_wrap').html(dataHtml);
            $('#scores-date').val(date);
        });
    }
</script>

@section Scripts{
}