<div class="row">
</div>

<div class="container body-content col-md-offset-3">
    <div class="content_in content_in_s content_live_match" style="height: 1978px;">
        <div class="live_match_wrap">
            <input type="hidden" id="team_1" value="12398">
            <input type="hidden" id="team_2" value="8872">
            <input type="hidden" id="match_id" value="1782608">
            <!-- LIVE MATCH START -->
            <div class="live_match">
                <div class="top">
                    <span>1 Лига: Група за изпадане, Литва</span>
                    13
                    октомври -
                    19:00,
                </div>
                <div class="match_content clearfix">
                    <p class="score">5 : 0</p>
                    <p class="time"><span>FT</span></p>
                    <div class="right">
                        <table>
                            <tbody>
                                <tr class="">
                                    <td class="img_wrap">
                                        <img src="https://m.netinfo.bg/gong/images/livescore/teams/3921.png" alt="ФК Таурас">
                                    </td>
                                    <td>
                                        ФК Таурас
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="clearfix" id="goals_away_live_match"></ul>
                    </div>
                    <div class="left">
                        <table>
                            <tbody>
                                <tr class="">
                                    <td>
                                        Даинава
                                    </td>
                                    <td class="img_wrap">
                                        <img src="https://m.netinfo.bg/gong/images/livescore/teams/dainava.png" alt="Даинава">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="clearfix" id="goals_home_live_match">
                            <li style="cursor:default;" id="1906059">
                                <span>41’</span>

                            </li>
                            <li style="cursor:default;" id="1906078">
                                <span>69’</span>

                                L. Savastas
                            </li>
                            <li style="cursor:default;" id="1906126">
                                <span>71’</span>

                            </li>
                            <li style="cursor:default;" id="1906136">
                                <span>75’</span>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="live_match_preview">
            </div>
            <!-- LIVE MATCH END -->
        </div>

        <div class="live_navigation clearfix">
            <div id="akcenti" class="input_inline clearfix right">
                <div class="icheckbox" aria-checked="false" aria-disabled="false"><input type="checkbox" id="livescore_accent" autocomplete="off" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
            </div>

            <ul class="topmenu_list clearfix">
                <li class="current">
                    <a href="#" title="Директно" id="live">Директно</a>
                </li>
                <!--                    <li>
                    <a href="#" title="Head to head" id="live_head_to_head">Head to head</a>
                </li>-->
            </ul>
        </div>
        <div class="matches_list_wrap">

            <!-- LIVE NEWS START -->
            <section class="live_news_wrap livescore_news_wrap">
                <ul>
                    <li data-time="900" id="action_5424885" class="">
                        <p>Край на мача</p>
                        <span class="time">
                            <span class="action_2"></span>
                        </span>
                    </li>


                    <li data-time="750" id="action_5424779" class="accent">
                        <p>Даинава отбелязаха гол</p>
                        <span class="time">
                            75' <span>
                                    <img src="https://images.vexels.com/media/users/3/127835/isolated/preview/013dc4ff96099deeca3591fc869dde8b-great-britain-football-by-vexels.png" style="width:40px;height:40px;"/>
                                </span>
                        </span>
                    </li>


                    <li data-time="710" id="action_5424756" class="accent">
                        <p>Даинава отбелязаха гол</p>
                        <span class="time">
                            71'                            <span class="action_11"></span>
                        </span>
                    </li>


                    <li data-time="690" id="action_5424632" class="accent">
                        <p>L. Savastas отбеляза гол</p>
                        <span class="time">
                            69'                            <span class="action_11"></span>
                        </span>
                    </li>


                    <li data-time="460" id="action_5424631" class="">
                        <p>Начало на второ полувреме</p>
                        <span class="time">
                            <span class="action_4"></span>
                        </span>
                    </li>


                    <li data-time="450" id="action_5424568" class="">
                        <p>Край на първо полувреме</p>
                        <span class="time">
                            <span class="action_3"></span>
                        </span>
                    </li>


                    <li data-time="450" id="action_5424550" class="accent">
                        <p>A. Bareikis получи картон</p>
                        <span class="time">
                            45'                            <span class="action_18"></span>
                        </span>
                    </li>


                    <li data-time="410" id="action_5424549" class="accent">
                        <p>Даинава отбелязаха гол</p>
                        <span class="time">
                            41'                            <span class="action_11"></span>
                        </span>
                    </li>
                    <li data-time="00" id="action_5424454" class="">
                        <p>Начало на мача</p>
                        <span class="time">
                            <span class="action_1"></span>
                        </span>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>