	<!--content-->
<div class="content">
    <div class="content-gear">
        <div class="container">
            <h3>ABOUT</h3>

            <p>LiveScoreUpdateSystem is a web application made with ASP.NET MVC. It is made for learning purposes. It is open source and and availalble at <a href=""></a>https://github.com/BorislavBorisov22/LiveScoreUpdateSystem</p>
        </div>
    </div>
</div>