@using LiveScoreUpdateSystem.Web.Areas.LiveUpdater.Controllers;
@using LiveScoreUpdateSystem.Web.Areas.LiveUpdater.Models;

@model UpdateFixtureStatusViewModel

<div id="update-fixture-modal" data-fixture-id="@Model.Id" class="modal fade" role="dialog">
    <div class="modal-dialog">
        @using (Html.BeginForm<UpdateFixtureController>(c => c.UpdateFixtureStatus(Model.Id, null), FormMethod.Post, null, new { id = "update-fixture-id" }))
        {
            <div class="modal-content" id="modal-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Fixture</h4>
                </div>
                <div class="modal-body" id="modal-body">     
                    <br />
                    <div><strong>Game status</strong></div>
                    @Html.EnumDropDownListFor(m => m.Status, new { @class = "form-control" })

                    @Html.AntiForgeryToken()
                </div>
                <div class="modal-footer">
                    <button id="btn-submit-form" class="btn btn-primary btn-update-fixture" type="submit">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        }
    </div>
</div>
<script>
    $('#update-fixture-modal').modal('show');
</script>