<div class="container" style="width:990px;">
    <nav class="navbar navbar-basic navbar-outline" role="navigation">
    
    </nav>
    <!-- /.navbar-collapse -->
</div>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Admin Panel</h3>
        </div>
        <div class="panel-body">

            <div class="col-lg-2 dash-widget">
                <div class="label-primary" style="padding: 5px; border-radius: 6px;">
                    <button class="btn btn-primary btn-lg btn-block disabled" role="button" style="padding: 2px;">
                        <div class="fa fa-clock-o fa-3x"></div>
                        <div class="icon-label">Time Zone</div>
                    </button>
                    <button class="btn btn-inverse btn-block" style="height: 40px;">
                        Eastern
                    </button>
                </div>
            </div>

            <div class="col-lg-2 dash-widget">
                <div class="label-primary" style="padding: 5px; border-radius: 6px;">
                    <button class="btn btn-primary btn-lg btn-block disabled" role="button" style="padding: 2px;">
                        <div class="fa fa-desktop fa-3x"></div>
                        <div class="icon-label">
                            Platform
                        </div>
                    </button> <button class="btn btn-inverse btn-block" style="height: 40px;">TIX2</button>
                </div>
            </div>



            <div class="col-lg-2 dash-widget">
                <div class="label-primary" style="padding: 5px; border-radius: 6px;">
                    <button class="btn btn-primary btn-lg btn-block disabled" role="button" style="padding: 2px;">
                        <div class="fa fa-shopping-cart fa-3x"></div>
                        <div class="icon-label">
                            Gateway
                        </div>
                    </button> <button class="btn btn-inverse btn-block" style="height: 40px;">Eastern</button>
                </div>
            </div>




            <div class="col-lg-2 dash-widget">
                <div class="label-primary" style="padding: 5px; border-radius: 6px;">
                    <button class="btn btn-primary btn-lg btn-block disabled" role="button" style="padding: 2px;">
                        <div class="fa fa-print fa-3x"></div>
                        <div class="icon-label">
                            Fullfilment
                        </div>
                    </button> <button class="btn btn-inverse btn-block" style="height: 40px;">Yes</button>
                </div>
            </div>

            <div class="col-lg-2 dash-widget">
                <div class="label-primary" style="padding: 5px; border-radius: 6px;">
                    <button class="btn btn-primary btn-lg btn-block disabled" role="button" style="padding: 2px;">
                        <div class="fa fa-suitcase fa-3x"></div>
                        <div class="icon-label">
                            Sales Rep
                        </div>
                    </button> <button class="btn btn-inverse btn-block" style="height: 40px;">Name Name</button>
                </div>
            </div>

            <div class="col-lg-2 dash-widget">
                <div class="label-primary" style="padding: 5px; border-radius: 6px;">
                    <button class="btn btn-primary btn-lg btn-block disabled" role="button" style="padding: 2px;">
                        <div class="fa fa-user fa-3x"></div>
                        <div class="icon-label">
                            Contact
                        </div>
                    </button> <button class="btn btn-inverse btn-block" style="height: 40px;">Name Name</button>
                </div>
            </div>


        </div>
    </div>
