<h1>
    <i class="fa fa-pencil" aria-hidden="true"></i>
    LiveScore System
</h1>

<div class="container">
    <section>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-thumbs-up"></span> Admin Dashboard</h3>
                    </div>
                    <div class="panel-body">
                        <h4>Fixtures</h4>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-primary" 
                                   data-ajax="true" 
                                   data-ajax-mode="replace"
                                   data-ajax-success="showModal('#add-form-modal', 'Add Country', '/panel/addcountry', 'POST')"
                                   data-ajax-update="#modal-body" href="/admin/panel/addcountry">
                                    <span class="fa fa-globe fa-3x"></span> <br />Add <span class="glyphicon glyphicon-plus green"></span><br />Country
                                </a>
                                <a class="btn btn-primary"
                                   data-ajax="true"
                                   data-ajax-mode="replace"
                                   data-ajax-success="showModal('#add-form-modal', 'Add League', '/panel/addleague', 'POST')"
                                   data-ajax-update="#modal-body" href="/admin/panel/addleague">
                                    <span class="fa fa-star fa-3x"></span> <br />Add <span class="glyphicon glyphicon-plus green"></span><br />League
                                </a>
                                <a href="#" class="btn btn-dblue btn-lg" role="button"><span class="glyphicon glyphicon-user glyphsize"></span> <br />edit <span class="glyphicon glyphicon-edit yellow"></span><br />Customer</a>
                                <a href="#" class="btn btn-dblue btn-lg" role="button"><span class="glyphicon glyphicon-user glyphsize"></span> <br />Delete <span class="glyphicon glyphicon-minus red"></span><br />Customer</a>
                                <a href="#" class="btn btn-dblue btn-lg" role="button"><span class="glyphicon glyphicon-user glyphsize"></span> <br />Customer<br />Marketing <span class="glyphicon glyphicon-envelope"></span></a>
                                <a href="#" class="btn btn-dblue btn-lg" role="button"><span class="glyphicon glyphicon-user glyphsize"></span> <br />Customer<br />Reporting <span class="glyphicon glyphicon-signal"></span></a>
                                <a href="#" class="btn btn-dblue btn-lg" role="button"><span class="glyphicon glyphicon-user glyphsize"></span> <br />Customer<br />Database <span class="glyphicon glyphicon-book"></span></a>
                                <a href="#" class="btn btn-dblue btn-lg" role="button"><span class="glyphicon glyphicon-user glyphsize"></span> <br />Customer<br />Export - CSV <span class="glyphicon glyphicon-export"></span></a>
                            </div>
                        </div>

                        <h4>Users</h4>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <!-- dred -->
                                <a href="#" class="btn btn-dred btn-lg" role="button"><span class="glyphicon glyphicon-calendar glyphsize"></span> <br />Add <span class="glyphicon glyphicon-plus green"></span><br /> Appointment</a>
                                <a href="#" class="btn btn-dred btn-lg" role="button"><span class="glyphicon glyphicon-calendar glyphsize"></span> <br />Edit <span class="glyphicon glyphicon-edit yellow"></span><br />Appointment</a>
                                <a href="#" class="btn btn-dred btn-lg" role="button"><span class="glyphicon glyphicon-calendar glyphsize"></span> <br />Delete <span class="glyphicon glyphicon-minus red"></span><br /> Appointment</a>
                                <a href="#" class="btn btn-dred btn-lg" role="button"><span class="glyphicon glyphicon-calendar glyphsize"></span> <br />View <span class="glyphicon glyphicon-eye-open"></span><br />Diary</a>
                                <a href="#" class="btn btn-dred btn-lg" role="button"><span class="glyphicon glyphicon-calendar glyphsize"></span> <br />Manage <br /> Diary</a>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="pull-left">Manage the live score system from here</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="add-form-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form class="modal-content" id="modal-form">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Content</h4>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

            @Html.AntiForgeryToken();
        </form>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/modals")
}
