<h1>
    <i class="fa fa-pencil" aria-hidden="true"></i>
    Manage The LiveScore System
</h1>

<div class="container">
    <section>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-thumbs-up"></span> Admin Dashboard</h3>
                    </div>
                    <div class="panel-body">
                        <h4>Fixtures</h4>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">

                                <a href="@(Url.Action((LiveScoreUpdateSystem.Web.Areas.Admin.Controllers.PanelController c) => c.Index()))" class="btn btn-dblue btn-lg" role="button"><span class="fa fa-puzzle-piece fa-3x"></span> <br />Add <span class="glyphicon glyphicon-plus green"></span><br />Fixture</a>
                                <a href="#" class="btn btn-dblue btn-lg" role="button"><span class="glyphicon glyphicon-user glyphsize"></span> <br />edit <span class="glyphicon glyphicon-edit yellow"></span><br />Customer</a>
                                <a href="#" class="btn btn-dblue btn-lg" role="button"><span class="glyphicon glyphicon-user glyphsize"></span> <br />Delete <span class="glyphicon glyphicon-minus red"></span><br />Customer</a>
                                <a href="#" class="btn btn-dblue btn-lg" role="button"><span class="glyphicon glyphicon-user glyphsize"></span> <br />Customer<br />Marketing <span class="glyphicon glyphicon-envelope"></span></a>
                                <a href="#" class="btn btn-dblue btn-lg" role="button"><span class="glyphicon glyphicon-user glyphsize"></span> <br />Customer<br />Reporting <span class="glyphicon glyphicon-signal"></span></a>
                                <a href="#" class="btn btn-dblue btn-lg" role="button"><span class="glyphicon glyphicon-user glyphsize"></span> <br />Customer<br />Database <span class="glyphicon glyphicon-book"></span></a>
                                <a href="#" class="btn btn-dblue btn-lg" role="button"><span class="glyphicon glyphicon-user glyphsize"></span> <br />Customer<br />Export - CSV <span class="glyphicon glyphicon-export"></span></a>
                            </div>
                        </div>

                        <h4>Users</h4>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <!-- dred -->
                                <a href="#" class="btn btn-dred btn-lg" role="button"><span class="glyphicon glyphicon-calendar glyphsize"></span> <br />Add <span class="glyphicon glyphicon-plus green"></span><br /> Appointment</a>
                                <a href="#" class="btn btn-dred btn-lg" role="button"><span class="glyphicon glyphicon-calendar glyphsize"></span> <br />Edit <span class="glyphicon glyphicon-edit yellow"></span><br />Appointment</a>
                                <a href="#" class="btn btn-dred btn-lg" role="button"><span class="glyphicon glyphicon-calendar glyphsize"></span> <br />Delete <span class="glyphicon glyphicon-minus red"></span><br /> Appointment</a>
                                <a href="#" class="btn btn-dred btn-lg" role="button"><span class="glyphicon glyphicon-calendar glyphsize"></span> <br />View <span class="glyphicon glyphicon-eye-open"></span><br />Diary</a>
                                <a href="#" class="btn btn-dred btn-lg" role="button"><span class="glyphicon glyphicon-calendar glyphsize"></span> <br />Manage <br /> Diary</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- dgreen -->
                                <a href="#" class="btn btn-dgreen btn-lg" role="button"><span class="glyphicon glyphicon-signal glyphsize green"></span> <br />Business<br />Reports </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- mred -->
                                <a href="#" class="btn btn-mred btn-lg" role="button"><span class="glyphicon glyphicon-envelope glyphsize"></span> <br />Postage<br />Manager</a>
                                <a href="#" class="btn btn-mred btn-lg" role="button"><span class="glyphicon glyphicon-home glyphsize"></span> <br />Postcode<br />Setup</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- orange -->
                                <a href="#" class="btn btn-orange btn-lg" role="button"><span class="glyphicon glyphicon-bullhorn glyphsize"></span> <br />Announcement<br />Manager</a>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="pull-left">Manage the live score system from here</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
