/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
.template-green {
    background-color: #b2ce22;
}

body {
    background: #f8f8f8;
    position: relative;
    bottom: 20%;
    font-family: 'Open Sans', sans-serif;
}

    body a {
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }
/*----*/
.header-top {
    background: #b2ce22;
    padding: 0.5em 0;
}

ul {
    padding: 0;
    margin: 0;
}

p.header-para {
    float: left;
    margin: 0;
    font-size: 1.2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}

ul.sign {
    float: right;
}

    ul.sign li {
        display: inline-block;
        padding: 0;
    }

        ul.sign li a {
            font-size: 1.2em;
            text-decoration: none;
            color: #fff;
            font-weight: 600;
        }

        ul.sign li span {
            background: url(../images/img-sprite.png) -5px -13px;
            width: 22px;
            height: 14px;
            display: inline-block;
        }

.header-bottom-top {
    background: #1c1d24;
}

.logo {
    float: left;
    margin-top: 0em;
}

.top-nav {
    float: right;
}

    .top-nav ul li {
        display: inline-block;
        padding: 2em 1em;
    }

        .top-nav ul li a {
            font-size: 1.1em;
            text-decoration: none;
            color: #fff;
            font-weight: 700;
        }

            .top-nav ul li a:hover, .top-nav ul li.active a {
                color: #b2ce22;
            }

    .top-nav span.menu:before {
        content: url(../images/menu.png)no-repeat 0px 0px;
        cursor: pointer;
        width: 100%;
    }

    .top-nav span.menu {
        display: none;
    }
/*--responsive media-quries--*/
@media(max-width:768px) {
    .top-nav ul {
        display: none;
        position: absolute;
        width: 100%;
        z-index: 9999;
        left: 0%;
        margin: 0em 0em;
        background: #b2ce22;
    }

    .top-nav span.menu {
        display: block;
        width: 100%;
        position: relative;
        text-align: right;
        padding: 1.3em 0 0;
    }

    .top-nav ul li {
        display: block;
        float: none;
        padding: 0.8em 0;
        text-align: center;
    }

        .top-nav ul li a, .top-nav ul li.active a {
            color: #fff;
            border: none;
            padding: 0;
        }

            .top-nav ul li a:hover, .top-nav ul li.active a:hover {
                color: #000;
                border: none;
            }
}

.search {
    background: #2f313d;
    position: relative;
    margin: 1.7em 1em 0;
    float: right;
    box-shadow: 4px 4px #000;
}

    .search input[type="text"] {
        border: none;
        outline: none;
        background: none;
        font-size: 1.2em;
        color: #fff;
        width: 86%;
        padding: 4px;
        -webkit-apperance: none;
        margin: 0;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        text-transform: uppercase;
    }

    .search input[type="submit"] {
        outline: none;
        cursor: pointer;
        width: 13px;
        height: 13px;
        background: url(../images/img-sprite.png) -34px -13px;
        border: none;
    }
/*--- slider-css --*/
.slider {
    position: relative;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

    .rslides li {
        -webkit-backface-visibility: hidden;
        position: absolute;
        display: none;
        width: 100%;
        left: 0;
        top: 0;
    }

        .rslides li:first-child {
            position: relative;
            display: block;
            float: left;
        }

    .rslides img {
        display: block;
        height: auto;
        float: left;
        width: 100%;
        border: 0;
    }

.rslides_tabs {
    background: none !important;
    border: none;
    box-shadow: none;
    position: relative;
    top: -90px;
    z-index: 999;
}

.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 12px;
    width: 12px;
    background: #1c1d24;
    display: inline-block;
    border-radius: 50px;
}

.callbacks_here a:after {
    background: #b2ce22;
}

.callbacks_tabs a {
    visibility: hidden;
}

.callbacks_tabs li {
    display: inline-block;
    padding: 0 5px
}

ul.callbacks_tabs.callbacks1_tabs {
    position: absolute;
    bottom: 5%;
    z-index: 999;
    right: 46%;
}
/*--banner--*/
.banner {
    position: relative;
}

    .banner span.matter {
        width: 579px;
        height: 229px;
        background: url(../images/ma.png) 0px 0px;
        display: inline-block;
        position: absolute;
        top: 19em;
        right: 35em;
    }

.content-app h3, .content-app-up h3 {
    margin: 0;
    font-size: 4.5em;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Passion One', cursive;
}

.content-app-up h3 {
    text-align: center;
    padding: 1em 0 0;
}

span.line {
    border-top: 1px solid #C0BEBE;
    width: 84%;
    height: 2px;
    display: block;
    margin: 0 auto;
}

.content-from {
    padding: 3em 0;
}

    .content-from p {
        margin: 1em 0 0;
        font-size: 1.2em;
        font-weight: 700;
        text-transform: uppercase;
    }

.content-app {
    text-align: center;
    padding: 6em 0 3em;
}

.regard {
    width: 70%;
    margin: 0 auto;
}

.regard-in {
    background: #fff;
    border: 2px solid #C0BEBE;
    padding: 2em 3.5em;
    position: relative;
    margin: 3.5em 0;
}

    .regard-in p a {
        text-decoration: none;
        color: #b2ce22;
    }

    .regard-in p {
        margin: 0;
        font-weight: 600;
        font-size: 1.2em;
    }

.ago {
    float: left;
    padding: 1em 0;
}

.col-d {
    float: right;
    width: 37%;
    padding: 8em 0;
}

.regard-in span {
    width: 32px;
    height: 29px;
    background: url(../images/img-sprite.png) -90px -6px;
    display: inline-block;
    position: absolute;
    right: 2%;
    top: 10%;
}

    .regard-in span.camera {
        background-position: -133px -6px;
        top: 4%;
    }

    .regard-in span.face {
        background-position: -163px -6px;
    }

/*----*/
.content-top {
    text-align: center;
    padding: 7em 0 2em;
}

    .content-top h3, .slow-grid h4 {
        margin: 0;
        font-size: 4.5em;
        font-weight: 700;
        text-transform: uppercase;
        font-family: 'Passion One', cursive;
    }

        .content-top h3 span {
            color: #f3bc23;
        }

.slow-grid h4 {
    font-size: 2.2em;
    line-height: 0.9em;
}

.bat {
    text-align: left;
    padding: 4em 0;
}

.content-slow {
    padding: 3em 0;
}

a.view {
    text-decoration: none;
    font-size: 1.6em;
    color: #b2ce22;
    font-family: 'Passion One', cursive;
}

ul.sign-in {
    padding: 2em 0;
}

    ul.sign-in li {
        list-style: none;
        font-size: 1.5em;
        font-weight: 700;
    }

.slow-grid {
    float: left;
    width: 19%;
}

.grid-slow {
    width: 26.5%;
}
/*---*/
.content-bottom {
    position: relative;
    background: #1c1d24;
    padding: 3em 0;
}

.let-your {
    text-align: center;
    padding: 0 0 5em;
}

    .let-your h3 {
        margin: 3px 0;
        font-size: 5.1em;
        color: #575a6f;
    }

    .let-your p {
        margin: 0em auto;
        font-size: 1.3em;
        color: #C5C5C5;
        width: 72%;
        padding: 1.5em 0;
        line-height: 1.7em;
    }

    .let-your span {
        color: #fff;
        font-size: 1.3em;
        float: right;
        font-weight: 700;
    }

.bottom-right h4 {
    margin: 0;
    font-size: 1.7em;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Passion One', cursive;
}

.bottom-right p {
    color: #b2ce22;
    font-size: 1.2em;
    font-weight: 800;
}

.men-grid-left {
    float: left;
    width: 48%;
    margin-right: 2.2em;
}

.content-bottom-right {
    width: 71%;
    margin: 0 auto;
}

.bot-1-2 {
    margin: 0;
}

.our-grid {
    background: url(../images/ba2.png) 0px 0px;
    width: 100%;
    height: 870px;
    display: inline-block;
}

    .our-grid h3 {
        margin: 2em 0 0;
        font-size: 5.1em;
        color: #575a6f;
        text-align: center;
    }

.the-do h6 {
    margin: 0 0 0.5em;
    font-size: 2.1em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.the-do span {
    font-size: 1.1em;
    color: #b2ce22;
    font-weight: 700;
}

.the-do p {
    margin: 0.4em 0 0;
    font-size: 1.1em;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.the-do ul {
    padding: 0.7em 0 0.5em 2.7em;
}

    .the-do ul li {
        list-style: none;
        font-size: 1.1em;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0.2em 0;
    }

.do-the {
    padding: 4em 0;
}

.content-con {
    padding: 6em 0 0;
}
/*--appreal--*/

/*--gear--*/
.banner span.matter-out-in {
    width: 620px;
    height: 263px;
    background: url(../images/ma3.png) 0px 0px;
}

.content-gear h3, .gear-content h3, .gear-content h3, .gear-content-grid h3, .order-content h3 {
    margin: 0.5em 0;
    font-size: 4.5em;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Passion One', cursive;
}

.gear-content-grid h3, .order-content h3 {
    border-top: 1px solid #BEBEBE;
    padding: 1em 0;
    margin: 0;
}

.gear-grid {
    padding: 3em 0 6em;
}

.gear-content h3, .gear-content-grid, .order-content h3 {
    text-align: center;
}

    .content-gear h3 span, .gear-content h3 span {
        color: #f3bc23;
    }

    .gear-content-grid iframe {
        width: 90%;
        height: 500px;
    }

.content-gear p {
    font-size: 1.4em;
    line-height: 1.6em;
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid #BEBEBE;
    padding: 0 0 4em;
}

.content-gear {
    text-align: center;
    padding: 2em 0 3em;
}

label.icon-grid {
    float: left;
    width: 122px;
    height: 121px;
    background: url(../images/img-sprite.png) 0px -65px;
}

label.icon {
    background-position: -132px -65px;
}

label.grid-icon {
    background-position: -270px -65px;
}

.inner-gear {
    float: right;
    width: 60%;
}

    .inner-gear h5 {
        margin: 0;
        font-size: 1.6em;
        font-weight: 700;
        font-family: 'Passion One', cursive;
    }

    .inner-gear p {
        margin: 0;
        font-size: 1em;
        font-weight: 400;
    }

.order-left {
    float: left;
    border: 1px solid #C7C5C5;
    background: #fff;
    padding: 1em 0.5em;
}

.left-order {
    float: right;
    width: 50%;
}

    .left-order h5 {
        margin: 0;
        font-size: 3.5em;
        font-family: 'Passion One', cursive;
        text-transform: uppercase;
    }

    .left-order span {
        font-size: 1.4em;
        color: #b2ce22;
        font-weight: 800;
    }

    .left-order p {
        margin: 1em 0 3em;
        font-size: 1.2em;
        width: 85%;
    }

p.size {
    font-family: 'Passion One', cursive;
    text-transform: uppercase;
    font-size: 1.6em;
    margin: 0 0 1em;
}

    p.size b {
        padding: 0.2em 2em;
        background: #fff;
        border: 1px solid #C7C5C5;
        margin: 0 1em;
    }

p.size-in {
    margin: 0 0 2em;
}

    p.size-in b {
        padding: 0.2em 3em;
    }

a.cart {
    text-decoration: none;
    font-size: 1.4em;
    color: #b2ce22;
    background: #1c1d24;
    padding: 0.5em 2em;
}

    a.cart:hover {
        color: #fff;
        background: #b2ce22;
    }

.inner-gear h5 a, .we-do h6 a {
    text-decoration: none;
    color: #b2ce22;
}

.order-content {
    padding: 5em 0 7em;
}
/*--team--*/
/*-----start-gallery---*/
.gallery {
    background: #EEEEEE;
    padding: 4em 0;
}

.gallery-grids {
    padding: 1em 0 2em;
}

.head h3 {
    color: #000000;
    font-size: 3.5em;
    font-weight: 700;
    width: 17.3%;
    margin: 0 auto;
    font-family: 'Passion One', cursive;
}

.gallery-grid3 {
    width: 66.6%;
    float: left;
    padding-right: 30px;
}

.gallery-grid1 {
    width: 33.3%;
    float: left;
    padding-right: 30px;
}

.gallery-grid2 {
    width: 50%;
    float: left;
    padding-right: 30px;
}
/*----*/
/* Self Clearing Goodness */
/*	Strip
/*-----------------------------------------------------------------------------------*/
.b-link-stripe {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-weight: 300;
    overflow: hidden;
    width: 100%;
}

    .b-link-stripe .b-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
        color: #ffffff;
        overflow: hidden;
    }

/*-----------------------------------------------------------------------------------*/
/*	Animation effects
/*-----------------------------------------------------------------------------------*/
.b-animate-go {
    text-decoration: none;
}

.b-animate {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    visibility: hidden;
    font-size: 1.1em;
    font-weight: 700;
}

    .b-animate img {
        margin-top: 4%;
        display: -webkit-inline-box;
    }

    .b-animate span {
        display: block;
        font-size: 2em;
        text-transform: uppercase;
        padding-top: 3em;
        display: block;
        font-weight: 500;
    }

    .b-animate button {
        background: #000;
        padding: 0.9em 1.8em;
        color: #b2ce22;
        text-transform: uppercase;
        font-size: 0.875em;
        border: none;
        border-radius: 0.3em;
        margin: 0.8em auto;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
        -o-transition: 0.5s all;
        outline: none;
    }

        .b-animate button:hover {
            background: #3B3B43;
            color: #fff;
        }
/* lt-ie9 */
.b-animate-go:hover .b-animate {
    visibility: visible;
}

.b-from-left {
    position: relative;
    left: -100%;
    background: rgba(178, 206, 34, 0.71);
    background-size: 100% 100%;
    top: 0px;
    margin: 0;
    min-height: 307px;
}

.b-animate-go:hover .b-from-left {
    left: 0;
}

.view-gallery-btn {
    background: #b2ce22;
    color: #FFF;
    text-transform: uppercase;
    padding: 0.875em 0em;
    width: 15%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

    .view-gallery-btn:hover {
        background: #1c1d24;
        color: #fff;
        text-decoration: none;
    }

.gallery-grids-row1 {
    padding: 1.5em 0;
}
/*--services--*/
.us-head h5 {
    margin: 0;
    font-size: 2.4em;
    font-weight: 700;
    font-family: 'Passion One', cursive;
    text-transform: uppercase;
}

.services-us {
    padding: 4em 0;
}

.service-grid {
    padding: 1em 0;
}

.us-head {
}

    .us-head p {
        margin: 1em 0 3em;
        font-size: 1.2em;
        line-height: 25px;
    }

.service-left h6 {
    margin: 0;
    font-size: 1.7em;
    color: #b2ce22;
}

ul.service-list li {
    list-style: none;
    border-bottom: 1px solid #D0D0D0;
    padding: 0.6em 0;
}

    ul.service-list li.sed-ut {
        border: none;
    }

    ul.service-list li a {
        text-decoration: none;
        font-size: 1.2em;
    }

        ul.service-list li a:hover {
            color: #f3b628;
        }

.service-top h3 {
    margin: 0.5em 0;
    font-size: 4.5em;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Passion One', cursive;
    text-align: center;
}

.we-do h6 {
    margin: 0;
    font-size: 1.6em;
    color: #b2ce22;
}

.we-do p {
    margin: 0;
    font-size: 1.1em;
}

ul.service-list {
    width: 74%;
    padding: 2em 0;
}

a.more-left {
    background: #b2ce22;
    color: #FFF;
    text-transform: uppercase;
    padding: 0.875em 1em;
    font-size: 1.1em;
}

    a.more-left:hover {
        color: #fff;
        background: #1c1d24;
        text-decoration: none;
    }

.services {
    padding: 2em 0px 4em;
}
/*--sign-up--*/
/*--register--*/
.register-top-grid h3 {
    color: #b2ce22;
    font-size: 1.6em;
    padding-bottom: 5px;
    margin: 0;
    font-weight: 600;
}

.register-top-grid span {
    color: #555;
    font-size: 1.2em;
    padding-bottom: 0.2em;
    display: block;
    text-transform: uppercase;
}

.register-top-grid input[type="text"] {
    border: 1px solid #EEE;
    outline-color: #b2ce22;
    width: 85%;
    font-size: 1em;
    padding: 1em;
    margin: 0.5em 0;
}

.checkbox {
    margin-bottom: 4px;
    padding-left: 27px;
    font-size: 1.2em;
    line-height: 27px;
    cursor: pointer;
}

.checkbox {
    position: relative;
    font-size: 1em;
    color: #555;
}

    .checkbox:last-child {
        margin-bottom: 0;
    }

.news-letter {
    color: #555;
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 1em;
    display: block;
    text-transform: uppercase;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    clear: both;
}

.checkbox i {
    position: absolute;
    bottom: 5px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    outline: none;
    border: 2px solid #E1DFDF;
}

.checkbox input + i:after {
    content: '';
    background: url("../images/tick1.png") no-repeat 1px 2px;
    top: -1px;
    left: -1px;
    width: 15px;
    height: 15px;
    font: normal 12px/16px FontAwesome;
    text-align: center;
}

.checkbox input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}

.checkbox input {
    position: absolute;
    left: -9999px;
}

    .checkbox input:checked + i:after {
        opacity: 1;
    }

.news-letter:hover {
    color: #00BFF0;
}

.mation {
    padding: 1em 0;
}

.register {
    padding: 4em 0;
    width: 58%;
    margin: 0 auto;
}
/*--contact--*/
.send-contact h4 {
    margin: 0 0 1em;
    font-size: 2.4em;
    font-family: 'Passion One', cursive;
    text-transform: uppercase;
}

.contact {
    padding: 4em 0 6em;
}

.contact-grid {
    text-align: center;
}

p.your-para, p.message-para {
    color: #636363;
    margin: 0;
    font-size: 1em;
}

p.message-para {
    padding: 0 1em;
}

    p.your-para span, p.message-para span {
        color: #b2ce22;
    }

.contact-left input[type="text"], .subject input[type="text"] {
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    background: none;
    outline: none;
    border: 1px solid #636363;
}

.subject input[type="text"] {
    margin: 1em;
    width: 95%;
}

.send-contact textarea {
    resize: none;
    width: 95%;
    padding: 1em;
    margin: 1em;
    background: none;
    outline: none;
    border: 1px solid #636363;
    -webkit-appearance: none;
}

.contact input[type="submit"] {
    float: right;
    width: 28%;
    font-size: 1.5em;
    background: #b2ce22;
    padding: 0.6em 1em;
    text-align: center;
    color: #fff;
    border: none;
    outline: none;
    margin: 0 auto;
    -webkit-appearance: none;
}

    .contact input[type="submit"]:hover {
        background: #1c1d24;
    }

.send {
    padding: 0 1em;
}

.map iframe {
    width: 538px;
    height: 447px;
    border: none;
}
/*--footer--*/
.footer {
    background: #1c1d24;
    padding: 2em 0;
}

.footer-grid {
    float: left;
}

p.footer-grid {
    margin: 0;
    font-size: 1.1em;
    color: #fff;
}

    p.footer-grid a {
        text-decoration: none;
        color: #b2ce22;
    }

        p.footer-grid a:hover {
            color: #fff;
        }

.nav-top {
    float: right;
}

    .nav-top ul li {
        display: inline-block;
        padding: 0em 1em;
    }

        .nav-top ul li a {
            font-size: 1.1em;
            text-decoration: none;
            color: #fff;
            font-weight: 700;
        }

            .nav-top ul li a:hover, .nav-top ul li.active a {
                color: #b2ce22;
            }
/*--responsive media-quries--*/
@media(max-width:1440px) {
}

@media(max-width:1366px) {
}

@media(max-width:1280px) {
    .banner span.matter {
        top: 14em;
        right: 16em;
    }
}

@media(max-width:1024px) {
    .banner span.matter {
        top: 7em;
        right: 4em;
    }

    .col-d {
        width: 21%;
    }

    .regard-in p {
        font-size: 1.1em;
    }

    .inner-gear {
        width: 53%;
    }

    .us-head p {
        margin: 1em 0 2em;
        height: 251px;
        overflow: hidden;
    }

    .men-grid-left {
        margin-right: 1.9em;
    }

    .send-contact textarea {
        width: 93%;
    }

    .subject input[type="text"] {
        width: 93%;
    }

    .map iframe {
        width: 439px;
    }

    .bot-1-2 {
        margin: 0;
    }
}

@media(max-width:768px) {
    .search {
        margin: 1.7em auto 0;
        float: none;
        width: 33%;
    }

    .banner span.matter {
        top: 2em;
        right: 0em;
    }

    .left-pic {
        margin: 0 auto;
    }

    .col-d {
        float: none;
        width: 100%;
        padding: 0em 0;
    }

    .content-app h3, .content-app-up h3, .service-top h3 {
        font-size: 3.5em;
    }

    .content-app {
        padding: 3em 0 1em;
    }

    .regard-in {
        margin: 2.5em 0;
    }

    .content-gear h3, .gear-content h3, .gear-content h3,
    .gear-content-grid h3, .order-content h3 {
        font-size: 3.5em;
    }

    .nav-top ul li {
        padding: 0em 0.5em;
    }

    .content-gear p {
        font-size: 1.2em;
        padding: 0 0 2em;
    }

    .inner-gear {
        width: 80%;
        padding: 1.5em 0;
    }

    .gear-grid {
        padding: 1em 0 3em;
    }

    .left-order {
        float: none;
        padding: 2em 8em;
        width: 100%;
    }

    .order-left {
        float: none;
        margin: 0 auto;
    }

    .order-content {
        padding: 3em 0 4em;
    }

    .us-head h5 {
        font-size: 2em;
    }

    .us-head p {
        margin: 0.3em 0 2em;
        font-size: 1.1em;
        height: 225px;
    }

    ul.service-list {
        width: 100%;
        padding: 1em 0;
    }

        ul.service-list li {
            width: 31%;
            margin: 0 auto;
        }

    .subject input[type="text"], .send-contact textarea {
        width: 96%;
    }

    .content-top h3, .slow-grid h4 {
        font-size: 3.5em;
    }

    .slow-grid h4 {
        font-size: 1.8em;
    }

    a.view {
        font-size: 1.4em;
    }

    .content-bottom span.matter-in {
        left: 5em;
    }

    .let-your h3, .our-grid h3 {
        font-size: 3.7em;
    }

    .let-your p {
        font-size: 1.1em;
        padding: 0.5em 0;
    }

    .men-grid-left {
        margin-right: 0.73em;
    }

    .bot-1-2 {
        margin: 0;
    }

    .grid-img {
        display: none;
    }

    .the-do h6 {
        font-size: 1.7em;
    }

    .the-do ul li {
        font-size: 1em;
    }

    .do-the {
        padding: 1em 0;
    }

    .our-grid h3 {
        margin: 1em 0 0;
    }

    .our-grid {
        height: 665px;
    }

    .content-top {
        padding: 4em 0 0em;
    }

    .content-con {
        padding: 3em 0 0;
    }

    .b-animate span {
        padding-top: 1.5em;
    }

    .content-from p {
        margin: 1em 0;
    }

    .service-left h6 {
        text-align: center;
    }

    .map iframe {
        width: 666px;
        height: 300px;
    }
}

@media(max-width:640px) {
    .banner span.matter {
        background-size: 430px;
        width: 434px;
        height: 172px;
    }

    .search {
        width: 36%;
    }

    .content-app h3, .content-app-up h3, .service-top h3 {
        font-size: 3em;
    }

    .content-gear h3, .gear-content h3, .gear-content h3, .gear-content-grid h3, .order-content h3 {
        font-size: 3em;
    }

    .content-from p {
        margin: 0.5em 0;
    }

    .content-gear p {
        font-size: 1.1em;
    }

    .inner-gear {
        width: 74%;
    }

    .left-order h5 {
        font-size: 2.5em;
    }

    .b-animate span {
        font-size: 1.5em;
    }

    .view-gallery-btn {
        width: 19%;
    }

    .we-do h6 {
        font-size: 1.3em;
    }

    .we-do {
        padding: 0.5em 0;
    }

    .service-grid {
        padding: 0em 0;
    }

    ul.service-list li {
        width: 38%;
    }

    .service-left h6 {
        font-size: 1.5em;
    }

    .services {
        padding: 1em 0px 2em;
    }

    .content-bottom span.matter-in {
        background-size: 470px;
        width: 473px;
        height: 179px;
    }

    .let-your h3, .our-grid h3 {
        font-size: 3.1em;
    }

    .let-your p {
        font-size: 1em;
    }

    .let-your {
        padding: 0 0 3em;
    }

    .the-do h6 {
        font-size: 1.3em;
    }

    .nav-top ul li {
        padding: 0.5em;
    }

    .nav-top, .footer-grid {
        float: none;
    }

    .content-slow {
        padding: 1em 0;
    }

    ul.sign-in li {
        font-size: 1.2em;
    }

    .content-top {
        padding: 2em 0 0em;
    }

    .subject input[type="text"], .send-contact textarea {
        width: 96%;
    }

    .map iframe {
        width: 560px;
    }

    .register {
        width: 70%;
    }

    .footer {
        text-align: center;
    }
}

@media(max-width:480px) {
    ul.sign li a {
        font-size: 1em;
    }

    p.header-para {
        font-size: 1em;
    }

    .banner span.matter {
        background-size: 332px;
        width: 334px;
        height: 133px;
    }

    .content-app h3, .content-app-up h3, .service-top h3 {
        font-size: 2em;
    }

    .content-from {
        padding: 1em 0;
    }

        .content-from p {
            font-size: 1em;
        }

    .content-app-up h3 {
        padding: 0.5em 0 0;
    }

    .regard-in {
        padding: 1.5em 2.5em;
        margin: 1.5em 0;
    }

        .regard-in p {
            font-size: 1em;
        }

    .content-gear h3, .gear-content h3, .gear-content h3, .gear-content-grid h3, .order-content h3, .head h3 {
        font-size: 2em;
    }

    .content-gear p {
        font-size: 1em;
        height: 70px;
        overflow: hidden;
        border: none;
    }

    .content-gear {
        padding: 1em 0 1em;
    }

    .inner-gear {
        width: 65%;
    }

        .inner-gear h5 {
            font-size: 1.3em;
        }

        .inner-gear p {
            font-size: 0.9em;
            height: 53px;
            overflow: hidden;
        }

    .gear-content-grid iframe {
        height: 360px;
    }

    .left-order p {
        margin: 1em 0 1.5em;
        font-size: 1em;
    }

    p.size {
        font-size: 1.3em;
    }

    a.cart {
        font-size: 1.2em;
        padding: 0.5em 1em;
    }

    .order-content {
        padding: 1em 0;
    }

        .order-content h3 {
            padding: 0.5em 0;
        }

    .b-animate span {
        font-size: 1.2em;
    }

    .gallery-grid3, .gallery-grid1, .gallery-grid2 {
        width: 100%;
        padding-right: 0px;
    }

    .b-animate span {
        padding-top: 2.5em;
        font-size: 1.5em;
    }

    .we-do h6 {
        font-size: 1.1em;
    }

    .we-do p {
        font-size: 1em;
        height: 43px;
        overflow: hidden;
    }

    .services-us {
        padding: 2em 0;
    }

    .us-head h5 {
        font-size: 1.3em;
        margin: 0.5em 0 0;
    }

    .us-head p {
        font-size: 1em;
        height: 81px;
    }

    a.more-left {
        padding: 0.5em 1em;
    }

    .service-left h6 {
        font-size: 1.3em;
    }

    ul.service-list li a {
        font-size: 1em;
    }

    ul.service-list li {
        width: 45%;
    }

    .content-app h3, .content-app-up h3, .service-top h3, .content-top h3, .slow-grid h4 {
        font-size: 2em;
    }

    .slow-grid {
        width: 100%;
        padding: 1em 0;
    }

    .grid-slow {
        width: 33.3%;
    }

    ul.sign-in li {
        font-size: 1.1em;
    }

    .content-bottom span.matter-in {
        background-size: 341px;
        width: 337px;
        height: 125px;
    }

    .let-your h3, .our-grid h3 {
        font-size: 2.1em;
    }

    .let-your p {
        font-size: 0.9em;
        height: 73px;
        overflow: hidden;
    }

    .bottom-right h4 {
        margin: 0.3em 0 0;
        font-size: 1.1em;
    }

    .bottom-right p {
        font-size: 0.9em;
    }

    .the-do h6 {
        font-size: 1.1em;
    }

    .the-do ul li {
        font-size: 0.9em;
    }

    .our-grid {
        height: 598px;
    }

    .the-do span {
        font-size: 1em;
    }

    .slow-grid h4 {
        font-size: 1.5em;
    }

    .subject input[type="text"], .send-contact textarea {
        width: 93%;
    }

    .contact input[type="submit"] {
        font-size: 1.3em;
    }

    .contact {
        padding: 1em 0 2em;
    }

    .send-contact h4 {
        margin: 0 0 0.5em;
        font-size: 1.4em;
    }

    .register-top-grid h3 {
        font-size: 1.3em;
    }

    .register-top-grid span {
        font-size: 1.1em;
    }

    .search input[type="text"] {
        font-size: 1.1em;
    }

    .search {
        width: 41%;
    }

    .left-order {
        padding: 2em 1em;
    }

        .left-order h5 {
            font-size: 1.5em;
        }

        .left-order span {
            font-size: 1.2em;
        }

    .gallery {
        padding: 2em 0;
    }

    .the-do p {
        font-size: 0.9em;
    }
}

@media(max-width:320px) {
    .header-top {
        text-align: center;
    }

    p.header-para, ul.sign li a {
        font-size: 0.8em;
    }

    ul.sign, p.header-para {
        float: none;
    }

    .search {
        width: 59%;
    }

        .search input[type="text"] {
            font-size: 1em;
        }

    .banner span.matter {
        background-size: 125px;
        width: 126px;
        height: 51px;
        right: 2em;
    }

    ul.callbacks_tabs.callbacks1_tabs {
        right: 36%;
    }

    .content-app h3, .content-app-up h3, .service-top h3, .content-top h3 {
        font-size: 1.4em;
    }

    .content-app {
        padding: 1em 0 0em;
    }

    .content-from p {
        font-size: 0.9em;
    }

    .regard-in p {
        font-size: 0.9em;
        height: 39px;
        overflow: hidden;
    }

    .regard-in {
        padding: 1em 1em;
        margin: 1em 0;
    }

    p.footer-grid {
        font-size: 1em;
    }

    .nav-top ul li a {
        font-size: 1em;
    }

    .nav-top ul li {
        padding: 0.3em;
    }

    .content-gear h3, .gear-content h3, .gear-content h3, .gear-content-grid h3, .order-content h3, .head h3 {
        font-size: 1.4em;
    }

    .content-gear p {
        font-size: 0.9em;
        height: 57px;
    }

    .inner-gear {
        width: 44%;
    }

        .inner-gear h5 {
            font-size: 1.1em;
        }

        .inner-gear p {
            font-size: 0.87em;
            height: 37px;
        }

    .gear-grid {
        padding: 0.5em 0 1em;
    }

    .gear-content-grid iframe {
        height: 230px;
    }

    .left-order span {
        font-size: 1em;
    }

    .left-order p {
        margin: 1em 0 0em;
        font-size: 0.9em;
        width: 100%;
    }

    p.size {
        margin: 1em 0 1.5em;
        font-size: 1.2em;
    }

    .b-animate span {
        padding-top: 1em;
        font-size: 1.2em;
    }

    .b-animate button {
        padding: 0.5em 1em;
    }

    .gallery-grids {
        padding: 0 0;
    }

    .gallery {
        padding: 1em 0;
    }

    .view-gallery-btn {
        width: 36%;
        padding: 0.8em 0;
    }

    .we-do p {
        font-size: 0.9em;
        height: 39px;
    }

    .services-us {
        padding: 1em 0;
    }

    .us-head h5 {
        font-size: 1.2em;
    }

    .us-head p {
        font-size: 0.9em;
        line-height: 20px;
        margin: 0.3em 0 1.4em;
    }

    .service-left h6 {
        font-size: 1.2em;
    }

    ul.service-list li a {
        font-size: 0.9em;
    }

    ul.service-list li {
        width: 65%;
    }

    ul.service-list {
        padding: 0.4em 0;
    }

    .serives-bottom {
        padding: 0.5em 0 0;
    }

    .slow-grid h4 {
        font-size: 1.2em;
    }

    a.view {
        font-size: 1.1em;
    }

    .grid-slow {
        width: 50%;
    }

    ul.sign-in {
        padding: 0em 0;
    }

        ul.sign-in li {
            font-size: 1em;
        }

    .content-bottom span.matter-in {
        background-size: 209px;
        width: 203px;
        height: 79px;
    }

    .let-your h3, .our-grid h3 {
        font-size: 1.5em;
    }

    .let-your span {
        font-size: 1.1em;
    }

    .let-your p {
        font-size: 0.85em;
        height: 45px;
    }

    .let-your {
        padding: 0px 0 1.5em;
    }

    .content-con {
        padding: 1.5em 0 0;
    }

    .content-bottom-right {
        width: 88%;
    }

    .men-grid-left {
        margin-right: 0.3em;
    }

    .bottom-right h4 {
        font-size: 1em;
    }

    .bottom-right p {
        font-size: 0.85em;
    }

    .the-do h6 {
        font-size: 1em;
    }

    .the-do ul li, .the-do p {
        font-size: 0.85em;
    }

    .subject input[type="text"], .send-contact textarea {
        width: 88%;
    }

    .contact input[type="submit"] {
        font-size: 1.1em;
        width: 41%;
    }

    .map iframe {
        width: 240px;
        height: 200px;
    }

    .contact-left input[type="text"], .subject input[type="text"] {
        padding: 0.8em;
    }

    .register {
        width: 100%;
        padding: 1.5em 0;
    }

    .register-top-grid h3 {
        font-size: 1.2em;
    }

    .top-nav ul li {
        padding: 0.6em 0;
    }

    .content-slow {
        padding: 0em 0 1em;
    }

    .slow-left {
        display: none;
    }

    .gallery-grids-row1 {
        padding: 0.5em 0;
    }
}
