	<!--content-->
<div class="content">
    <div class="content-gear">
        <div class="container">
            <h3>ABOUT</h3>

            <p>Before you can start dropping bombs, you've gotta have the right tool in your hands. The Juggy ASA brings mad pop to the plate with its stacked composite design. The end-loaded triple wall barrel provides a strong, lightweight hitting zone with a springboard surface and a two-piece feel. The Big D end cap tops off the 12" barrel, keeping energy focused on the sweet spot. With a TR3 F.L.O. handle, this bat is a force waiting to explode. As soon as you connect, you can feel the unbridled power of the Juggy ASA.</p>
        </div>
    </div>
    <!---->
    <div class="container">
        <div class="gear-content">
            <h3>Explore the Technology</h3>

            <div class="gear-grid">
                <div class="col-md-4">
                    <label class="icon-grid"> </label>
                    <div class="inner-gear">
                        <h5><a href="#">Stacked (Double Wall)</a></h5>
                        <p>The next generation of DoubleWall, Stacked Composite, optimizes multiple walls separated by DeMarini Power Ply for the biggest sweet </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4">
                    <label class="icon-grid icon"> </label>
                    <div class="inner-gear">
                        <h5><a href="#">TR3 F.L.O. BARREL</a></h5>
                        <p>This year, we fused the layers of carbon to create a stronger barrel with less weight. This allows us to distribute the bat weight evenly throughout the bat. A more balanced bat produces faster bat speeds so </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4">
                    <label class="icon-grid grid-icon"> </label>
                    <div class="inner-gear">
                        <h5><a href="#">Big "D" End Cap</a></h5>
                        <p>The next generation of DoubleWall, Stacked Composite, optimizes multiple walls separated by DeMarini Power Ply for the biggest sweet </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="gear-content-grid">
            <h3>Every Bomb starts with a <span>BOOM.</span></h3>
            <iframe src="//www.youtube.com/embed/Ypb0iT2W928" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="order-content">
            <h3>Order Information</h3>
            <div class="gear-order">
                <img class="img-responsive order-left" src="images/ju1.png" alt=" " />
                <div class="left-order">
                    <h5>2014 Juggy - ASA</h5>
                    <span>$299.95</span>
                    <p>Orders generally are shipped within 1 business day of purchase. This bat comes with a one year warranty from manufacture defects. If you have any questions please contact us as we will be happy to assist you.</p>
                    <p class="size">Bat Size:<b>34 In./26 oz.</b></p>
                    <p class="size size-in">quantity:<b>1</b></p>
                    <a href="#" class="cart">ADD TO CART</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="foter-bottom">
                <p class="footer-grid">Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
                <div class=" nav-top">
                    <ul>
                        <li class="active"><a href="index.html" class="scroll">Home</a></li>
                        <li><a href="about.html" class="scroll"> About</a></li>
                        <li><a href="teams.html" class="scroll">Team</a></li>
                        <li><a href="services.html" class="scroll">Services</a></li>
                        <li><a href="sports.html" class="scroll">Sports </a></li>
                        <li><a href="contact.html" class="scroll">Contact</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
