@{
    ViewBag.Title = "Home Page";
}


<!--banner-->
<div class="slider">
    <ul class="rslides" id="slider2">
        <li>
            <a href="#">
                <img src="~/Content/images/ban.jpg" alt="">
                <div class="banner">
                    <span class=" matter "> </span>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="~/Content/images/bb.jpg" alt="">
                <div class="banner">
                    <span class=" matter"> </span>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="~/Content/images/ban.jpg" alt="">
                <div class="banner">
                    <span class="matter "> </span>
                </div>
            </a>
        </li>
    </ul>
</div>

<!--content-->
<div class="content">
    <div class="content-app">
        <div class="container">
            <h3>New from LiveScore</h3>
            <div class="content-from">
                <div class="col-md-4 from-grid ">
                    <img class="img-responsive left-pic" src="~/Content/images/pic.jpg" alt=" " />
                    <p></p>
                </div>
                <div class="col-md-4 from-grid ">
                    <img class="img-responsive left-pic" src="~/Content/images/pic1.jpg" alt=" " />
                    <p>Fastest socres and updates in realtime</p>
                </div>
                <div class="col-md-4 from-grid ">
                    <img class="img-responsive left-pic" src="~/Content/images/pic.jpg" alt=" " />
                    <p>Our team</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!---->
    <!---->
</div>

@section Scripts{
    <script>
                        // You can also use "$(window).load(function() {"
                        $(function () {
                            $("#slider2").responsiveSlides({
                                auto: true,
                                pager: true,
                                speed: 300,
                                namespace: "callbacks",
                            });
                        });
    </script>
}