@using LiveScoreUpdateSystem.Web.Areas.Admin.Models

<h1><i class="fa fa-globe fa-3x" aria-hidden="true"></i>Countries Grid</h1>

@(Html.Kendo()
        .Grid<GridCountryViewModel>()
        .Name("CountriesGrid")
        .Columns(columns =>
        {
            columns.Bound(m => m.FlagPictureUrl).ClientTemplate(
                  @"<div class='grid-photo'
                        style='background-image: url(#:FlagPictureUrl#);'></div>").Width(50);
            columns.Bound(m => m.Name).Width(150);
            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
        })
        .Editable(editable => editable.Mode(GridEditMode.InLine))
        .Pageable(c =>
        {
            c.Refresh(true);
            c.PageSizes(true);
        })
        .Sortable()
        .DataSource(source =>
        {
            source.Ajax()
            .Model(m => {
                m.Id(c => c.Id);
                })
            .Read(c => c.Action("ReadCountries", "CountriesGrid")).PageSize(GlobalConstants.GridsPageSize)
            .Destroy(c => c.Action("DeleteCountry", "CountriesGrid"))
            .Update(c => c.Action("EditCountry", "CountriesGrid"));
        })
        .Filterable(f => f.Mode(GridFilterMode.Menu))
        .Deferred())